{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Font Awesone CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Google Fonts - Merienda One and Nunito -->
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@300&display=swap" rel="stylesheet">

    <!-- Our CSS File -->
    <link href="{% static '/videos/css/style.css' %}" rel="stylesheet">

        

    <title>Video Production Projects</title>
  </head>
  <body>

  <!-- NAVBAR -->
  {% include 'videos/navbar.html' %}

{% block content %}

{% endblock %}

{% include 'videos/footer.html' %}