{% extends 'videos/header.html' %}

{% block content %}

<div class="container my-5">
  <div class="text-center p-4">
    <h1 class="display-3 text-secondary">Welcome to our Video Production Company</h1>
  </div>
  <div class="text-center p-4">
    <h3>We produce professional videos for a variety of industries.  Browse our videos by category below.</h3>
  </div>
</div>

{% for c in categories %}

<!-- Category Information -->
<div class="container-fluid px-0">
  <img class="img-fluid" src="{{ c.homepage_image.url }}">
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">{{ c.name }}</h2>
      <p class="py-4">{{ c.homepage_text|linebreaks }}</p>
    </div>
  </div>
</div>

<!-- Project Listing for the category -->
<div class="container my-5">
  <div class="row m-0 p-0">
    {% for p in c.get_projects_homepage %}
      <div class="col-sm-6 m-0 p-0">
        <a href="{% url 'videos:project_detail' p.id %}"><img class="img-fluid" src="{{ p.project_image.url }}"></a>
      </div>
    {% endfor %}
  </div>
</div>

{% endfor %}

<!-- Testimonials -->
<div class="container my-5">
  <div class="row">
    <h2>Testimonials</h2>
  </div> 
</div>

<div class="container my-5">
  <div class="row">
    {% for t in testimonials %}
    <div class="col-sm-6 border border-light p-4">
	  <p>{{ t.client_name }}</p>
	  <p>{{ t.comment }}</p>
    </div>
	{% endfor %}
  </div> 
</div>

{% endblock %}