{% load static %}
<div class="container-fluid bg-light shadow-sm">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="{% url 'videos:index' %}">Video Production Company</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item active mr-4">
		        <a class="nav-link" href="{% url 'videos:index' %}">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item  mr-4">
		        <a class="nav-link" href="#">About</a>
		      </li>
		      <li class="nav-item  mr-4">
		        <a class="nav-link" href="#">Contact</a>
		      </li>
		      <li class="nav-item dropdown  mr-4">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Projects By Category
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          {% for c in categories %}
                <a class="dropdown-item" href="{% url 'videos:category_page' c.slug %}">{{ c.name }}</a>
		          {% endfor %}
		        </div> 
		      </li>
		    </ul>
		  </div>
		</nav>
  </div>
</div>