{% extends 'videos/header.html' %}
{% load static %}


{% block content %}

<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>{{ project.name }}</h2>
      <p>Category: {{ project.category }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="video-iframe-container">
        <iframe src="https://www.youtube.com/embed/{{ project.video_code }}?rel=0;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


{% endblock %}


